:root {
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  --fs-2xl: 2.5rem;
  --fw-sm: 400;
  --fw-md: 500;
  --fw-lg: 600;
  --p-sm: 0.5rem;
  --p-md: 1rem;
  --p-lg: 1.5rem;
  --g-sm: 0.5rem;
  --g-md: 0.75rem;
  --g-lg: 1rem;
  --g-xl: 1.25rem;
  --lh: 1.75;
  --ease-out-normal: 0.2s ease-out;
}

.footer{
  --bg: hsl(212, 25%, 10%);
  --primary-text: hsl(0, 0%, 98%);
  --secondary-text: hsl(228, 7%, 71%);
  --border: 2px solid hsl(210 90% 60% / 25%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

main{
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  font-weight: var(--fw-sm);
  width: 100%;
  background-color: var(--bg);
  padding: var(--p-lg);
  border-top: var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--g-xl);
}

.footer__main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--g-lg);
}

.footer__brand,
.footer__column {
  display: flex;
  flex-direction: column;
  gap: var(--g-lg);
}

.footer__brand {
  flex: 2;
}

.footer__logo {
  font-size: var(--fs-2xl);
  font-weight: var(--fw-md);
  color: var(--primary-text);
}

.footer__description {
  font-size: var(--fs-md);
  line-height: var(--lh);
  color: var(--secondary-text);
}

.footer__social {
  display: flex;
  gap: var(--g-sm);
}

.footer__social-links {
  padding: var(--g-sm);
  cursor: pointer;
  transition: opacity var(--ease-out-normal), transform var(--ease-out-normal);
}

.footer__social-icon {
  width: 28px;
  height: 28px;
  color: var(--secondary-text);
}

.footer__column {
  flex: 1;
}

.footer__heading {
  font-weight: var(--fw-md);
  font-size: var(--fs-md);
  color: var(--primary-text);
  padding: var(--fs-md) 0;
}
.footer__link-row {
  display: flex;
  flex-direction: column;
  gap: var(--g-md);
}

.footer__link {
  font-size: var(--fs-sm);
  color: var(--secondary-text);
  text-decoration: none;
  transition: opacity var(--ease-out-normal), transform var(--ease-out-normal);
}

.footer__link:hover,
.footer__social-links:hover {
  opacity: 0.5;
}

.footer__link:active,
.footer__social-links:active {
  transform: scale(0.96);
}

.footer__link:focus-visible,
.footer__social-links:focus-visible {
  outline: var(--border);
  outline-offset: 4px;
}

.footer__meta {
  width: 100%;
  color: var(--secondary-text);
  font-size: var(--fs-sm);
  text-align: center;
  opacity: 0.6;
  border-top: var(--border);
  padding-top: var(--p-md);
}

@media (max-width: 768px) {
  .footer__main {
    flex-direction: column;
    gap: var(--g-md);
  }
  .footer__brand,
  .footer__column {
    width: 100%;
    gap: var(--g-sm);
  }

  .footer__brand {
    align-items: center;
    text-align: center;
  }

  .footer__column {
    border-top: var(--border);
  }

  .footer__social {
    justify-content: center;
  }

  .footer__link-row {
    gap: var(--g-sm);
  }
}
